<div id="home-profile" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid-item">
    <div class="row identity">
        <div class="col-xs-2 col-sm-4">
            <img class="avatar img-fluid" src="http://placehold.it/200x200"/>
        </div>
        <div class="col-xs-10 col-sm-8">
            <h6>Welcome,</h6>
            <h3>Name</h3>
            <h3>Lastname</h3>
        </div>
    </div>
    <div class="row location">
        <div class="col-xs-10">
            <i class="fa fa-map-marker"></i> Full address, Country
        </div>
        <div class="col-xs-2">
            <a href="#" class="btn btn-block btn-primary btn-sm btn-reversed"><i class="fa fa-pencil"></i></a>
        </div>
    </div>
    <div class="row news">
        <div class="col-xs-12"><a href="#">X new notifications</a></div>
        <div class="col-xs-12"><a href="#">X pending offers</a></div>
    </div>
    <div class="row buttons">
        <div class="col-xs-6">
            <div class="btn btn-block btn-primary btn-reversed">
                <i class="fa fa-plus"></i><br>
                Add item
            </div>
        </div>
        <div class="col-xs-6">
            <a href="#" class="btn btn-block btn-primary btn-reversed">
                <i class="fa fa-user"></i><br>
                See profile
            </a>
        </div>
    </div>
</div>