{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}

<body id="swapp">

<my-app>Loading...</my-app>
<!--
{% include 'header_menu/menu.html' %}

{% include 'home/content.html' %}

{% include 'items/modals.html' %}
{% include 'search/advanced_search_modal.html' %}
{% include 'users/register_update_modal.html' %}
-->

<script src="//localhost:8080/livereload.js"></script>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/tether.js' %}"></script>
<script src="{% static 'js/vendor/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.js' %}"></script>
<script src="{% static 'js/vendor/flickity.pkgd.js' %}"></script>
<script src="{% static 'js/vendor/jquery.matchHeight.js' %}"></script>
<!--<script src="{% static 'js/custom.js' %}"></script>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNi0DkJRcQiOhJzSitoV5GhlacK6fNtKs" async defer></script>

<script src="{% static 'js/vendor/zone.js' %}"></script>
<script src="{% static 'js/vendor/Reflect.js' %}"></script>
<script src="{% static 'js/vendor/system.src.js' %}"></script>
<script src="{% static 'js/systemjs.config.js' %}"></script>
<script>
    System.import('app').catch(function(err){ console.error(err); });
</script>

</body>
</html>
