{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}

<body id="swapp">

{% include 'header_menu/menu.html' %}

{% include 'home/content.html' %}

{% include 'items/modals.html' %}

<script src="//localhost:8080/livereload.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/tether.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.js' %}"></script>
<script src="{% static 'js/flickity.pkgd.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
