{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}

<body id="swapp">
    <my-app>Loading...</my-app>

{% include 'header_menu/menu.html' %}

{% include 'home/content.html' %}

{% include 'items/modals.html' %}
{% include 'search/advanced_search_modal.html' %}

<script src="//localhost:8080/livereload.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/tether.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.js' %}"></script>
<script src="{% static 'js/flickity.pkgd.js' %}"></script>
<script src="{% static 'js/jquery.matchHeight.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNi0DkJRcQiOhJzSitoV5GhlacK6fNtKs" async defer></script>

<script src="{% static 'js/zone.js' %}"></script>
<script src="{% static 'js/Reflect.js' %}"></script>
<script src="{% static 'js/system.src.js' %}"></script>
<script src="{% static 'js/systemjs.config.js' %}"></script>
<script>
    System.import('app').catch(function(err){ console.error(err); });
</script>
</body>
</html>
