{% load static %}
<!-- Main jumbotron for a primary marketing message or call to action -->
{% include 'search/home_search_bar.html' %}
<div id="content-main" class="container">
    <div class="row personal-inventory">
        {% include 'users/home_inventory.html' %}
    </div>
    <div class="row grid">
        {% include 'users/home_profile.html' %}

        {% include 'items/example.html' %}
        {% include 'items/example.html' %}
        {% include 'items/example.html' %}
        {% include 'items/example.html' %}
        {% include 'items/example.html' %}
        {% include 'items/example.html' %}
        {% include 'items/example.html' %}
    </div>
</div>