<div id="content-search">
    <div class="container">
        <form class="row">
            <div class="col-xs-10">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="hidden-sm-down">Recommanded</span>
                            <span class="hidden-md-up"><i class="fa fa-filter"></i></span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Recommanded</a>
                            <a class="dropdown-item" href="#">Trends</a>
                            <a class="dropdown-item" href="#">More recents</a>
                            <a class="dropdown-item" href="#">Nearest</a>
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="hidden-sm-down">All categories</span>
                            <span class="hidden-md-up"><i class="fa fa-folder"></i></span>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-item" (click)="selectCategory($event)" *ngFor="let category of categories">{{ category.name }}</div>
                        </div>
                    </div>
                    <input #q type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit" (click)="search(q)"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-xs-2 advanced open-modal-advanced-search">
                <a href="#" class="btn btn-primary btn-reversed btn-block">
                    <span class="hidden-sm-down">Advanced</span>
                    <span class="hidden-md-up"><i class="fa fa-cog"></i></span>
                </a>
            </div>
        </form>
    </div>
</div>

