<div id="user-profile-modal" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <div class="modal-panel">
                    <div class="text-xs-center infos">
                        <img class="avatar" src="http://loremflickr.com/200/200">
                        <h1>Full Name</h1>
                        <div class="evaluation">
                            <i class="star fa fa-star"></i>
                            <i class="star fa fa-star"></i>
                            <i class="star fa fa-star"></i>
                            <i class="star fa fa-star"></i>
                            <i class="star fa fa-star-o"></i>
                            (<a href="#">123 votes</a>)
                        </div>
                    </div>
                    <hr>
                    <div id="profile-map"></div>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>