<div id="update-user-modal" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <form class="modal-panel" [formGroup]="updateForm" (ngSubmit)="update()">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Create an account</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div #profilePicture class="col-md-4">
                            <h3>Profile picture</h3>
                            <div class="col-img-frame" *ngIf="data.image === undefined">
                                <img class="avatar img-fluid" src="http://loremflickr.com/200/200">
                            </div>
                            <div class="col-img-frame result rounded" *ngIf="data.image">
                                <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                            </div>
                            <div class="file-upload">
                                <input id="custom-input" type="file" (change)="fileChangeListener($event)">
                            </div>
                            <div class="pull-left">
                                <img-cropper #cropper [image]="data" [settings]="cropperSettings" ></img-cropper>
                            </div>

                            <div class="form-group row">
                                <hr>
                                <h3>Interested by</h3>
                                <label class="col-sm-4 col-form-label">Categories</label>
                                <div class="col-sm-8">
                                    <div *ngFor="let category of categories" class="category-choice">
                                        <label>
                                            <input type="checkbox" class="form-check-input" value="{{ category.id }}" (change)="updateCheckbox($event.target.getAttribute('value'), $event.target.checked)">
                                            <span>{{ category.name }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-2">
                            <h3>Login</h3>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Username</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="username">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-3 col-form-label">Password</label>
                                <div class="col-sm-9">
                                    <input id="password" type="password" class="form-control" formControlName="password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                                <div class="col-sm-9">
                                    <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword">
                                </div>
                            </div>
                            <h3>Profile</h3>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="firstName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="lastName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" formControlName="email">
                                </div>
                            </div>
                            <h3>Position</h3>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Street</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="street">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="city">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Region</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="region">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="country">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button href="#" class="btn btn-lg btn-block btn-primary submit" type="submit" [disabled]="!updateForm.valid">
                                Update account
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>