<div id="add-item-modal" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <form class="modal-panel">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Add item to your inventory</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Images</h3>
                            <span class="img-infos">At least one image must be provided</span>
                            <div class="col-img-frame">
                                <img class="img-fluid" src="http://loremflickr.com/0/0">
                            </div>
                            <input type="file" class="form-control">
                            <a href="#" class="btn btn-sm btn-block btn-secondary-color submit">
                                <i class="fa fa-plus"></i> Add image
                            </a>
                            <hr>
                            <h3>Interested by</h3>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Desire 1</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <a href="#" class="btn btn-sm btn-block btn-secondary-color submit">
                                <i class="fa fa-plus"></i> Add desire
                            </a>
                            <hr>
                            <h3>Accepted delivery</h3>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Methods</label>
                                <div class="col-sm-8">
                                    <div>
                                        <input type="checkbox" class="form-check-input">
                                        At my place
                                    </div>
                                    <div>
                                        <input type="checkbox" class="form-check-input">
                                        At any place
                                    </div>
                                    <div>
                                        <input type="checkbox" class="form-check-input">
                                        By mail
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-2">
                            <h3>Informations</h3>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Estimed price</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <input type="text" class="form-control">
                                      <span class="input-group-addon">$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                            <hr>
                            <h3>Key informations</h3>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Key">
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Value">
                                </div>
                            </div>
                            <a href="#" class="btn btn-sm btn-block btn-secondary-color submit">
                                <i class="fa fa-plus"></i> Add key information
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="#" class="btn btn-lg btn-block btn-primary submit">
                                Create item
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>