<div id="view-item-x" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-9">
                <div class="modal-panel">

                    <div class="title-wrapper">
                        <h2>Title</h2>
                    </div>
                    <div class="row details">
                        <div class="col-lg-7">
                            <h5>Description</h5>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut culpa debitis dignissimos doloremque exercitationem illo in iste itaque iusto laudantium maxime minima nemo omnis sapiente! Magnam nam suscipit totam.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur, eius esse excepturi facere fuga illum iusto, nobis, quibusdam repellat repellendus soluta vel veniam? Dolorum eligendi nam nesciunt quia sapiente!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem delectus deserunt dolorem eum hic in maiores natus neque provident quasi quod rerum, sequi tempora, tenetur ullam unde vel voluptatibus.</p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h5>Infos</h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-2">
                                    <img class="img-fluid avatar" src="http://placehold.it/100x100"/>
                                </div>
                                <div class="col-lg-9 col-md-10">
                                    Name Lastname
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 options">
                <a href="#" class="btn btn-primary btn-block btn-lg">
                    <i class="fa fa-refresh"></i> <span class="hidden-sm-down">Swap</span>
                </a>
                <div class="btn-group btn-group-justified more">
                    <a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-comment"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-heart"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-share"></i></a>
                </div>
                <div class="modal-panel inventory">
                    <div class="title">
                        <h6>Inventory of</h6>
                        <h5>Name LastName</h5>
                    </div>
                    <div class="row preview">
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                    </div>
                    <div class="bottom-link">
                        <a href="#" class="btn btn-block btn-reversed">
                            <i class="fa fa-eye"></i> <span class="hidden-sm-down">See profile</span>
                        </a>
                    </div>
                </div>
                <div class="modal-panel similar">
                    <div class="title">
                        <h5>Similar</h5>
                    </div>
                    <div class="row preview">
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                    </div>
                    <div class="bottom-link">
                        <a href="#" class="btn btn-block btn-reversed">
                            <i class="fa fa-eye"></i> <span class="hidden-sm-down">See more</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>

