<div id="view-item-x" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="row content">
            <div class="col-xs-9">
                coucou
            </div>
            <div class="col-xs-3 options">
                <a href="#" class="btn btn-primary btn-block btn-lg">
                    <i class="fa fa-refresh"></i> Swap
                </a>
                <div class="btn-group btn-group-justified more">
                    <a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-comment"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-heart"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-share"></i></a>
                </div>
                <div class="modal-panel inventory">
                    <div class="title">
                        <h6>Inventory of</h6>
                        <h5>Name LastName</h5>
                    </div>
                    <div class="row preview">
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                    </div>
                    <a href="#" class="see-more btn btn-block btn-reversed">
                        <i class="fa fa-eye"></i> See profile
                    </a>
                </div>
                <div class="modal-panel similar">
                    <div class="title">
                        <h5>Similar</h5>
                    </div>
                    <div class="row preview">
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-xs-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                    </div>
                    <a href="#" class="see-more btn btn-block btn-reversed">
                        <i class="fa fa-eye"></i> See more
                    </a>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

