<nav id="header-navbar" class="navbar navbar-dark navbar-fixed-top bg-primary">
    <div class="container">
        <div class="pull-lg-left">
            <ul class="nav navbar-nav pull-lg-left">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bell"></i> Notifs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-envelope"></i> Messages</a>
                </li>
            </ul>
        </div>
        <a id="header-logo" href="#">SWAPP</a>
        <div class="pull-lg-right">
            <ul class="nav navbar-nav pull-lg-left">
                <li class="nav-item">
                    <a class="nav-link" href="#">Infos <i class="fa fa-info-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Configs <i class="fa fa-cog"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile <img src="http://placehold.it/25x25"/></a>
                </li>
            </ul>
        </div>
    </div>
</nav>