<nav id="header-navbar" class="navbar navbar-light navbar-fixed-top">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="container">
        <div class="pull-lg-left">
            <ul class="nav navbar-nav pull-lg-left">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bell"></i> Notifs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-envelope"></i> Messages</a>
                </li>
            </ul>
        </div>
        <a id="header-logo" href="#">SWAPP</a>
        <div class="pull-md-right">
            <ul class="nav navbar-nav pull-lg-left">
                <li class="nav-item">
                    <a class="nav-link" href="#">Infos <i class="fa fa-info-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Configs <i class="fa fa-cog"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile <img class="avatar" src="http://placehold.it/25x25"/></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="navbarResponsive" class="collapse">
        test
    </div>
</nav>