<search></search>
<div id="content-main" class="container">
    <div class="row inventory">
        <inventory></inventory>
    </div>
    <div class="row grid" #grid>
        <profile></profile>
        <items></items>
    </div>
</div>

<!--<script src="../../assets/js/jquery.js"></script>-->
<!--<script src="../../assets/js/tether.js"></script>-->
<!--<script src="../../assets/js/imagesloaded.pkgd.js"></script>-->
<!--<script src="../../assets/js/bootstrap.js"></script>-->
<!--<script src="../../assets/js/isotope.pkgd.js"></script>-->
<!--<script src="../../assets/js/flickity.pkgd.js"></script>-->
<!--<script src="../../assets/js/home-inventory.js"></script>-->
<!--<script src="../../assets/js/grid.js"></script>-->