<search></search>

<div id="content-main" class="container">
    <div class="row personal-inventory">
        <inventory [loggedIn]="loggedIn"></inventory>
    </div>
    <div class="row grid" #classGrid>
        <profile #profile></profile>
        <items></items>
    </div>
</div>

<search-modal></search-modal>
<register-user-modal></register-user-modal>
<create-account-modal (loginEvent)="profile.login($event)"></create-account-modal>
<update-profile-modal></update-profile-modal>
<profile-modal></profile-modal>
<add-item-modal></add-item-modal>
<notification-modal></notification-modal>
<send-proposition-modal></send-proposition-modal>
<accept-proposition-modal></accept-proposition-modal>