<div id="send-proposition-modal" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 my-inventory">
                                <div class="row">
                                    <div class="col-xs-3 col-lg-2">
                                        <img *ngIf="user.profile_picture_url === null" class="img-fluid avatar" src="http://loremflickr.com/100/100">
                                        <img *ngIf="user.profile_picture_url != null" class="img-fluid avatar" src="{{ user.profile_picture_url }}">
                                    </div>
                                    <div class="col-xs-9 col-lg-7 title">
                                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                                    </div>
                                    <div class="hidden-lg-down col-lg-3 actions">
                                        <div class="btn-group btn-group-justified">
                                            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                            <a href="#" class="btn btn-primary"><i class="fa fa-user"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row inventory swapp-inventory-mine">
                                    <div class="col-xs-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6 carousel-cell"
                                        *ngFor="let item of user.items">
                                        <a href="#">
                                            <img class="img-fluid" src="http://loremflickr.com/400/400"/>
                                            <span>title</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 your-inventory text-lg-right">
                                <div class="row">
                                    <div class="hidden-lg-down col-lg-3 actions">
                                        <div class="btn-group btn-group-justified">
                                            <a href="#" class="btn btn-primary"><i class="fa fa-user"></i></a>
                                            <a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-lg-7 title">
                                        <h3>{{ owner.first_name }} {{ owner.last_name }}</h3>
                                    </div>
                                    <div class="col-xs-3 col-lg-2">
                                        <img *ngIf="owner.profile_picture_url === null" class="img-fluid avatar" src="http://loremflickr.com/100/100">
                                        <img *ngIf="owner.profile_picture_url != null" class="img-fluid avatar" src="{{ owner.profile_picture_url }}">
                                    </div>
                                </div>
                                <div class="row inventory swapp-inventory-yours">
                                    <div class="col-xs-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6 carousel-cell"
                                        *ngFor="let item of owner.items">
                                        <a href="#">
                                            <img class="img-fluid" src="http://loremflickr.com/400/400"/>
                                            <span>title</span>
                                        </a>
                                    </div>
                                </div>
                                <a href="#" class="swap hidden-md-down">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                            <div class="col-xs-12 swap-md hidden-lg-up">
                                <a href="#" class="swap" (click)="sendOffer()">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>