<div id="advanced-search-modal" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <div class="modal-panel">
                    <h3>Advanced search</h3>
                    <form class="row">
                        <div class="col-md-10 col-xs-11">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Recommanded
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Recommanded</a>
                                        <a class="dropdown-item" href="#">Trends</a>
                                        <a class="dropdown-item" href="#">More recents</a>
                                        <a class="dropdown-item" href="#">Nearest</a>
                                    </div>
                                </div>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="hidden-sm-down">All categories</span>
                                        <span class="hidden-md-up"><i class="fa fa-folder"></i></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Antiques</a>
                                        <a class="dropdown-item" href="#">Art</a>
                                        <a class="dropdown-item" href="#">Baby</a>
                                        <a class="dropdown-item" href="#">Books</a>
                                        <a class="dropdown-item" href="#">Business & Industrial</a>
                                        <a class="dropdown-item" href="#">Cameras & Photo</a>
                                        <a class="dropdown-item" href="#">Cell Phones & Accessories</a>
                                        <a class="dropdown-item" href="#">Clothing, Shoes & Accessories</a>
                                        <a class="dropdown-item" href="#">Coins & Paper Money</a>
                                        <a class="dropdown-item" href="#">Collectibles</a>
                                        <a class="dropdown-item" href="#">Computers/Tablets & Networking</a>
                                        <a class="dropdown-item" href="#">Consumer Electronics</a>
                                        <a class="dropdown-item" href="#">Crafts</a>
                                        <a class="dropdown-item" href="#">Dolls & Bears</a>
                                        <a class="dropdown-item" href="#">DVDs & Movies</a>
                                        <a class="dropdown-item" href="#">Gift Cards, Coupons & Tickets</a>
                                        <a class="dropdown-item" href="#">Health & Beauty</a>
                                        <a class="dropdown-item" href="#">Home & Garden</a>
                                        <a class="dropdown-item" href="#">Jewelry & Watches</a>
                                        <a class="dropdown-item" href="#">Jobs & Services</a>
                                        <a class="dropdown-item" href="#">Music</a>
                                        <a class="dropdown-item" href="#">Musical Instruments & Gear</a>
                                        <a class="dropdown-item" href="#">Pet Supplies</a>
                                        <a class="dropdown-item" href="#">Pottery & Glass</a>
                                        <a class="dropdown-item" href="#">Sporting Goods</a>
                                        <a class="dropdown-item" href="#">Toys & Hobbies</a>
                                        <a class="dropdown-item" href="#">Travel</a>
                                        <a class="dropdown-item" href="#">Vehicles, Auto, Motos</a>
                                        <a class="dropdown-item" href="#">Video Games & Consoles</a>
                                        <a class="dropdown-item" href="#">Everything else</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-1 advanced open-modal-advanced-search">
                            <a href="#">
                                <span class="hidden-sm-down">Advanced</span>
                                <span class="hidden-md-up"><i class="fa fa-cog"></i></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>

