<div id="content-search">
    <div class="container">
        <form class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Recommandé
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Recommandé</a>
                            <a class="dropdown-item" href="#">Tendances</a>
                            <a class="dropdown-item" href="#">Les plus récents</a>
                            <a class="dropdown-item" href="#">Les plus proches</a>
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Toutes catégories
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Animaux &amp; Accessoires</a>
                            <a class="dropdown-item" href="#">Art &amp; Antiquités</a>
                            <a class="dropdown-item" href="#">Audio - TV - Vidéo</a>
                            <a class="dropdown-item" href="#">Automobiles</a>
                            <a class="dropdown-item" href="#">Bijouterie &amp; Horlogerie</a>
                            <a class="dropdown-item" href="#">Billets &amp; Bons</a>
                            <a class="dropdown-item" href="#">Bricolage &amp; Jardinage</a>
                            <a class="dropdown-item" href="#">Camping</a>
                            <a class="dropdown-item" href="#">Collections</a>
                            <a class="dropdown-item" href="#">Emploi</a>
                            <a class="dropdown-item" href="#">Enfants &amp; bébé</a>
                            <a class="dropdown-item" href="#">Esotérisme &amp; Voyance</a>
                            <a class="dropdown-item" href="#">Films &amp; DVD</a>
                            <a class="dropdown-item" href="#">Immobilier</a>
                            <a class="dropdown-item" href="#">Jeux &amp; Bricolage</a>
                            <a class="dropdown-item" href="#">Jeux vidéo</a>
                            <a class="dropdown-item" href="#">Livres - BD - Revues</a>
                            <a class="dropdown-item" href="#">Ménage &amp; Maison</a>
                            <a class="dropdown-item" href="#">Modélisme &amp; Hobby</a>
                            <a class="dropdown-item" href="#">Moto &amp; vélo</a>
                            <a class="dropdown-item" href="#">Musique &amp; Instruments</a>
                            <a class="dropdown-item" href="#">Nautisme</a>
                            <a class="dropdown-item" href="#">Ordinateurs &amp; Bureau</a>
                            <a class="dropdown-item" href="#">Perdus &amp; Trouvés</a>
                            <a class="dropdown-item" href="#">Photographie</a>
                            <a class="dropdown-item" href="#">Prestations de services</a>
                            <a class="dropdown-item" href="#">Rencontres</a>
                            <a class="dropdown-item" href="#">Santé &amp; Beauté</a>
                            <a class="dropdown-item" href="#">Sport &amp; Loisirs</a>
                            <a class="dropdown-item" href="#">Téléphonie</a>
                            <a class="dropdown-item" href="#">Vacances &amp; Voyages</a>
                            <a class="dropdown-item" href="#">Vêtements &amp; Accessoires</a>
                            <a class="dropdown-item" href="#">Vins &amp; Gastronomie</a>
                            <a class="dropdown-item" href="#">Divers</a>
                        </div>
                    </div>
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                    <span class="input-group-addon">
                        Avancée
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>