<div id="accept-proposition-modal" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 my-inventory">
                                <div class="row">
                                    <div class="col-xs-3 col-lg-2">
                                        <img class="img-fluid avatar" src="http://loremflickr.com/100/100">
                                    </div>
                                    <div class="col-xs-9 col-lg-7 title">
                                        <h3>Mathieu Urstein</h3>
                                    </div>
                                </div>
                                <div class="row inventory">
                                    <div class="col-xs-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6 carousel-cell">
                                        <a href="#">
                                            <img class="img-fluid" src="http://loremflickr.com/400/400"/>
                                            <span>title</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 your-inventory text-lg-right">
                                <div class="row">
                                    <div class="hidden-lg-down col-lg-3 actions">
                                        <div class="btn-group btn-group-justified">
                                            <a href="#" class="btn btn-primary"><i class="fa fa-user"></i></a>
                                            <a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-lg-7 title">
                                        <h3>George Loosdé</h3>
                                    </div>
                                    <div class="col-xs-3 col-lg-2">
                                        <img class="img-fluid avatar" src="http://loremflickr.com/100/100">
                                    </div>
                                </div>
                                <div class="row inventory">
                                    <div class="col-xs-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6 carousel-cell">
                                        <a href="#">
                                            <img class="img-fluid" src="http://loremflickr.com/400/400"/>
                                            <span>title</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 text-xs-center">
                                <a href="#" class="refuse">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a href="#" class="accept">
                                    <i class="fa fa-check"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>