<div id="advanced-search-modal" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <div class="modal-panel">
                    <form class="row">
                        <div class="col-md-9 col-xs-10">
                            <div class="input-group input-group-lg">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="hidden-sm-down">Recommanded</span>
                                        <span class="hidden-md-up"><i class="fa fa-filter"></i></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Recommanded</a>
                                        <a class="dropdown-item" href="#">Trends</a>
                                        <a class="dropdown-item" href="#">More recents</a>
                                        <a class="dropdown-item" href="#">Nearest</a>
                                    </div>
                                </div>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="hidden-sm-down">All categories</span>
                                        <span class="hidden-md-up"><i class="fa fa-folder"></i></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Antiques</a>
                                        <a class="dropdown-item" href="#">Art</a>
                                        <a class="dropdown-item" href="#">Baby</a>
                                        <a class="dropdown-item" href="#">Books</a>
                                        <a class="dropdown-item" href="#">Business & Industrial</a>
                                        <a class="dropdown-item" href="#">Cameras & Photo</a>
                                        <a class="dropdown-item" href="#">Cell Phones & Accessories</a>
                                        <a class="dropdown-item" href="#">Clothing, Shoes & Accessories</a>
                                        <a class="dropdown-item" href="#">Coins & Paper Money</a>
                                        <a class="dropdown-item" href="#">Collectibles</a>
                                        <a class="dropdown-item" href="#">Computers/Tablets & Networking</a>
                                        <a class="dropdown-item" href="#">Consumer Electronics</a>
                                        <a class="dropdown-item" href="#">Crafts</a>
                                        <a class="dropdown-item" href="#">Dolls & Bears</a>
                                        <a class="dropdown-item" href="#">DVDs & Movies</a>
                                        <a class="dropdown-item" href="#">Gift Cards, Coupons & Tickets</a>
                                        <a class="dropdown-item" href="#">Health & Beauty</a>
                                        <a class="dropdown-item" href="#">Home & Garden</a>
                                        <a class="dropdown-item" href="#">Jewelry & Watches</a>
                                        <a class="dropdown-item" href="#">Jobs & Services</a>
                                        <a class="dropdown-item" href="#">Music</a>
                                        <a class="dropdown-item" href="#">Musical Instruments & Gear</a>
                                        <a class="dropdown-item" href="#">Pet Supplies</a>
                                        <a class="dropdown-item" href="#">Pottery & Glass</a>
                                        <a class="dropdown-item" href="#">Sporting Goods</a>
                                        <a class="dropdown-item" href="#">Toys & Hobbies</a>
                                        <a class="dropdown-item" href="#">Travel</a>
                                        <a class="dropdown-item" href="#">Vehicles, Auto, Motos</a>
                                        <a class="dropdown-item" href="#">Video Games & Consoles</a>
                                        <a class="dropdown-item" href="#">Everything else</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-2 advanced open-modal-advanced-search">
                            <a href="#" class="btn btn-block btn-lg btn-primary">
                                <span class="hidden-sm-down"><i class="fa fa-search"></i> Search</span>
                                <span class="hidden-md-up"><i class="fa fa-search"></i></span>
                            </a>
                        </div>
                        <div class="col-xs-12 labels">
                            <div class="form-group row min-price">
                                <label for="example-text-input" class="col-lg-3 col-md-4 col-form-label">Minimum evaluated price</label>
                                <div class="col-lg-9 col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="Choose a value">
                                        <div class="input-group-addon">$</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row max-price">
                                <label for="example-text-input" class="col-lg-3 col-md-4 col-form-label">Maximum evaluated price</label>
                                <div class="col-lg-9 col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="Choose a value">
                                        <div class="input-group-addon">$</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row map-position">
                                <label for="example-text-input" class="col-lg-3 col-md-4 col-form-label">Your position</label>
                                <div class="col-lg-9 col-md-8">
                                    <input class="form-control" type="text" placeholder="Set your position address">
                                </div>
                            </div>
                            <div class="form-group row map-range">
                                <label for="example-text-input" class="col-lg-3 col-md-4 col-form-label">Range to search in</label>
                                <div class="col-lg-9 col-md-8">
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="rangeOptions"> 1 km
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="rangeOptions"> 10 km
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="rangeOptions" checked> 50 km
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="rangeOptions"> 100 km
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="rangeOptions"> 500 km
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="rangeOptions"> Earth
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="search-modal-map"></div>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
