<div id="view-infos" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <div class="modal-panel">
                    <div class="text-xs-center title-wrapper">
                        <h1>Infos</h1>
                    </div>
                    <div class="row details">
                        <div class="col-lg-12 description">
                            <p>This is the informations page, it will introduce the concept behind this application, how to use it and more...<br/></p>
                            <h2>Swap items</h2>
                            <p>
                                Swapp is the website you go to if you have an item you don't need anymore or want to exchange with another one. For example, if you want to swap your Canon DSLR camera against a Nikon camera.<br/>
                                Swapp allows you to simply add items, view items created by others and make offers. It includes social functions such as likes, comments and chat messages.<br/>
                            </p>
                            <h2>How does it work ?</h2>
                            <p>
                                Swapp is user friendly and responsive so you shouldn't have too much problem understanding it while using it.<br/>
                                On your first visit on the website you can see and search through the available items. If you are interested in an item or want to propose one of your own item, you must first create an accout and login
                                Then you can create a new item and make offers if you want to.
                            </p>
                            <h2>Who made it ?</h2>
                            <p>
                                A little group of engineering students made this website for a semestrial project. The team is composed by Sébastien Boson, Sébastien Richoz, Basile Vu, Mathieu Urstein and Antoine Drabble.
                            </p>
                            <h2>How to contact us ?</h2>
                            <p>
                                You can call Sebastien Boson on his mobile phone with the following number : +41 73 643 34 12.<br/>
                                <img width="200px" src="static/images/hotline.jpg"/>
                            </p>
                            <h2>Legal rights</h2>
                            <p>
                                Any illegal items sold on this website is forbidden.<br/>
                                Child labor and prostitution is forbidden.<br/>
                                Racism and harassing comments are not allowed.<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>