// Header menu
#header-navbar {
  position: relative;
}
#header-logo {
  position: absolute;
  left: 50%;
  width: $logo-width;
  text-align: center;
  margin-left: -($logo-width/2);
  margin-top: 6px;
  color: white;
}
#content-search {
  background-color: brown;
  height: $search-height;

  > div {
    padding-top: 75px;
  }
}
#content-main {
  margin-top: 30px;
}