<div class="col-lg-9 col-md-4 col-sm-6 col-xs-12 grid-item" style="float: right; font-size: 2.3em;" *ngIf="items.length === 0">
    {{ infoMessage }}
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid-item" *ngFor="let item of items; let last = last" [update-grid]="last">
    <div class="inner-item open-modal-item-x" (click)="gotoDetail(item)">
        <img *ngIf="item.images.length === 0" class="img-fluid" src="http://loremflickr.com/600/600"/>
        <img *ngIf="item.images.length != 0" class="img-fluid" src="{{ item.images[0].url }}"/>
        <div class="infos">
            <a href="#" (click)="searchCategory(item.category)"><i class="fa fa-folder"></i>{{ item.category.name }}</a>
            <a href="#"><i class="fa fa-map-marker"></i>{{ item.owner_location }}</a>
        </div>
        <div class="row user">
            <div class="col-xs-3">
                <img *ngIf="item.owner_picture_url === null" class="avatar img-fluid" src="http://loremflickr.com/50/50"/>
                <img *ngIf="item.owner_picture_url != null" style="width: 50px; height: 50px;" class="avatar img-fluid" src="{{ item.owner_picture_url }}"/>
            </div>
            <div class="col-xs-9">
                {{ item.name }}
            </div>
        </div>
        <div class="row reactions">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-refresh"></i><br>
                    {{ item.offers_received }}
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-comment"></i><br>
                    {{ item.comments }}
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-eye"></i><br>
                    {{ item.views }}
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-heart"></i><br>
                    {{ item.likes }}
                </li>
            </ul>
        </div>
        <div class="swap btn btn btn-primary"><i class="fa fa-refresh"></i> Swap</div>
        <div class="share btn btn-primary"><i class="fa fa-share"></i></div>
    </div>
</div>