<div id="view-item-x" class="modal fade view-item">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-9">
                <div class="modal-panel">
                    <div class="row showroom">
                        <div class="col-xs-3 modal-carousel-nav modal-carousel-height">
                            <div class="carousel-cell is-nav-selected">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                        </div>
                        <div class="col-xs-9 modal-carousel modal-carousel-height">
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                        </div>
                    </div>
                    <div class="title-wrapper">
                        <h2>{{ item.name }}</h2>
                    </div>
                    <div class="row details">
                        <div class="col-lg-7 description">
                            <h5>Description</h5>
                            <p>{{ item.description }}</p>
                        </div>
                        <div class="col-lg-5 specifics">
                            <h5 class="infos">Infos</h5>
                            <div class="row user-representation">
                                <div class="col-lg-3 col-md-2">
                                    <img class="img-fluid avatar" src="http://placehold.it/100x100"/>
                                </div>
                                <div class="col-lg-9 col-md-10">
                                    <h5><a href="#">Name lastanem</a> <i class="check fa fa-check"></i></h5>
                                </div>
                            </div>
                            <div class="row evaluation">
                                <i class="star fa fa-star"></i>
                                <i class="star fa fa-star"></i>
                                <i class="star fa fa-star"></i>
                                <i class="star fa fa-star"></i>
                                <i class="star fa fa-star-o"></i>
                                (<a href="#">123 votes</a>)
                            </div>
                            <div class="row category">
                                <a href="#">
                                    <i class="fa fa-folder"></i>
                                    {{ item.category.name }}
                                </a>
                            </div>
                            <div class="key-val">
                                <div class="row">
                                    <div class="left col-xs-6">
                                        Estimed price
                                    </div>
                                    <div class="right col-xs-6">
                                        {{ (item.price_min + item.price_max) / 2 | number:'.2' }} chf
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="left col-xs-6">
                                        Condition
                                    </div>
                                    <div class="right col-xs-6">
                                        new
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="left col-xs-6">
                                        Brand
                                    </div>
                                    <div class="right col-xs-6">
                                        Addidas
                                    </div>
                                </div>
                                <div class="row last">
                                    <div class="left col-xs-6">
                                        Color
                                    </div>
                                    <div class="right col-xs-6">
                                        green
                                    </div>
                                </div>
                                <div class="row interests last">
                                    <div class="left col-xs-6">
                                        Interested by
                                    </div>
                                    <div class="right col-xs-6">
                                        <ul>
                                            <li>Elem1</li>
                                            <li>Elem2</li>
                                            <li>Elem3</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="left col-xs-6">
                                        Delivery from
                                    </div>
                                    <div class="right col-xs-6">
                                        Address
                                    </div>
                                </div>
                                <div class="row last">
                                    <div class="left col-xs-6">
                                        Delivery methods
                                    </div>
                                    <div class="right col-xs-6">
                                        <ul>
                                            <li>Method1</li>
                                            <li>Method2</li>
                                            <li>Method3</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row reactions">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa fa-refresh"></i> 22
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-comment"></i> 6
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-eye"></i> 123
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-heart"></i> 5
                                    </li>
                                </ul>
                            </div>
                            <div class="row first-move">
                                <div class="contact btn btn-block btn-primary btn-reversed"><i class="fa fa-envelope"></i> Contact</div>
                                <div class="swap btn btn-block btn-primary btn-reversed"><i class="fa fa-refresh"></i> Swap</div>
                            </div>
                            <div class="row fraud">
                                <div class="col-xs-6">
                                    <a href="#">Signal fraud</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#">Security</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <h3>Comments</h3>
                    <div class="row comment new">
                        <div class="col-xs-1">
                            <img class="img-fluid avatar" src="http://placehold.it/100x100"/>
                        </div>
                        <div class="col-xs-11">
                            <textarea name="" placeholder="Write a comment..."></textarea>
                        </div>
                    </div>
                    <div class="row comment">
                        <div class="col-xs-1">
                            <img class="img-fluid avatar" src="http://placehold.it/100x100"/>
                        </div>
                        <div class="col-xs-11">
                            <p class="writer-infos"><a href="#">Name</a> november 14</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi atque culpa dignissimos dolor explicabo magni maxime ratione tenetur veritatis. Ab aliquam blanditiis culpa dicta est porro quisquam similique tenetur!</p>
                        </div>
                    </div>
                    <div class="row comment">
                        <div class="col-xs-1">
                            <img class="img-fluid avatar" src="http://placehold.it/100x100"/>
                        </div>
                        <div class="col-xs-11">
                            <p class="writer-infos"><a href="#">Name</a> november 14</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi atque culpa dignissimos dolor explicabo magni maxime ratione tenetur veritatis. Ab aliquam blanditiis culpa dicta est porro quisquam similique tenetur!</p>
                        </div>
                    </div>
                    <div class="row comment">
                        <div class="col-xs-1">
                            <img class="img-fluid avatar" src="http://placehold.it/100x100"/>
                        </div>
                        <div class="col-xs-11">
                            <p class="writer-infos"><a href="#">Name</a> november 14</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi atque culpa dignissimos dolor explicabo magni maxime ratione tenetur veritatis. Ab aliquam blanditiis culpa dicta est porro quisquam similique tenetur!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 options">
                <a href="#" class="btn btn-primary btn-block btn-lg">
                    <i class="fa fa-refresh"></i> <span class="hidden-sm-down">Swap</span>
                </a>
                <div class="btn-group btn-group-justified more">
                    <a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-comment"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-heart"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-share"></i></a>
                </div>
                <div class="modal-panel inventory">
                    <div class="title">
                        <h6>Inventory of</h6>
                        <h5>Name LastName</h5>
                    </div>
                    <div class="row preview">
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                    </div>
                    <div class="bottom-link">
                        <a href="#" class="btn btn-block btn-reversed">
                            <i class="fa fa-eye"></i> <span class="hidden-sm-down">See profile</span>
                        </a>
                    </div>
                </div>
                <div class="modal-panel similar">
                    <div class="title">
                        <h5>Similar</h5>
                    </div>
                    <div class="row preview">
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="http://placehold.it/300x300"/>
                        </div>
                    </div>
                    <div class="bottom-link">
                        <a href="#" class="btn btn-block btn-reversed">
                            <i class="fa fa-eye"></i> <span class="hidden-sm-down">See more</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>

