<div id="view-item-x" class="modal fade view-item">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-9">
                <div class="modal-panel">
                    <div class="row showroom">
                        <div class="col-xs-3 modal-carousel-nav modal-carousel-height">
                            <div class="carousel-cell is-nav-selected">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/400x250"/>
                            </div>
                        </div>
                        <div class="col-xs-9 modal-carousel modal-carousel-height">
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="http://placehold.it/800X500"/>
                            </div>
                        </div>
                    </div>
                    <div class="title-wrapper">
                        <h2>{{ item.name }}</h2>
                    </div>
                    <div class="row details">
                        <div class="col-lg-7 description">
                            <h5>Description</h5>
                            <p>{{ item.description }}</p>
                        </div>
                        <div class="col-lg-5 specifics">
                            <h5 class="infos">Infos</h5>
                            <div class="row user-representation">
                                <div class="col-lg-3 col-md-2">
                                    <img class="img-fluid avatar" *ngIf="owner.profile_picture_url === undefined" src="http://placehold.it/100X100"/>
                                    <img class="img-fluid avatar" *ngIf="owner.profile_picture_url != undefined" src="{{ owner.profile_picture_url }}"/>
                                </div>
                                <div class="col-lg-9 col-md-10">
                                    <h5><a href="#">{{ owner.first_name }} {{ owner.last_name }}</a> <i class="check fa fa-check"></i></h5>
                                </div>
                            </div>
                            <div class="row evaluation">
                                <span *ngFor="let star of stars" [ngSwitch]="star">
                                    <i *ngSwitchCase="0" class="star fa fa-star-o">{{ star }}</i>
                                    <i *ngSwitchCase="0.5" class="star fa fa-star-half-o">{{ star }}</i>
                                    <i *ngSwitchCase="1" class="star fa fa-star">{{ star }}</i>
                                </span>
                                
                                (<a href="#">{{ owner.votes }} votes</a>)
                            </div>
                            <div class="row category">
                                <a href="#" (click)="searchCategory(item.category.id)">
                                    <i class="fa fa-folder"></i>
                                    {{ item.category.name }}
                                </a>
                            </div>
                            <div class="key-val">
                                <div class="row">
                                    <div class="left col-xs-6">
                                        Estimed price
                                    </div>
                                    <div class="right col-xs-6">
                                        {{ item.price_min | number:'.2' }} - {{ item.price_max | number:'.2' }} $
                                    </div>
                                </div>
                                <div class="row" 
                                    *ngFor="let keyInfo of item.key_informations; let last = last"
                                    [ngClass]="{last: last}">
                                    <div class="left col-xs-6">
                                        {{keyInfo.key}}
                                    </div>
                                    <div class="right col-xs-6">
                                        {{keyInfo.value}}
                                    </div>
                                </div>
                                <div class="row interests last">
                                    <div class="left col-xs-6">
                                        Interested by
                                    </div>
                                    <div class="right col-xs-6">
                                        <ul>
                                            <li *ngFor="let interest of item.Interested_by">{{ interest }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="left col-xs-6">
                                        Delivery from
                                    </div>
                                    <div class="right col-xs-6">
                                        {{ item.delivery_from }}
                                    </div>
                                </div>
                                <div class="row last">
                                    <div class="left col-xs-6">
                                        Delivery methods
                                    </div>
                                    <div class="right col-xs-6">
                                        <ul>
                                            <li *ngFor="let method of item.delivery_methods">{{ method }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row reactions">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa fa-refresh"></i> {{item.offers_received}}
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-comment"></i> {{item.comments}}
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-eye"></i> {{item.views}}
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-heart"></i> {{item.likes}}
                                    </li>
                                </ul>
                            </div>
                            <div class="row first-move">
                                <div class="title" *ngIf="!loggedIn">
                                    <p>Please log in to access features</p>
                                </div>
                                <button class="contact btn btn-block btn-primary btn-reversed" [disabled]="!loggedIn"><i class="fa fa-envelope"></i> Contact</button>
                                <button class="swap btn btn-block btn-primary btn-reversed open-send-proposition-modal" [disabled]="!loggedIn"><i class="fa fa-refresh"></i> Swap</button>
                            </div>
                            <div class="row fraud">
                                <div class="col-xs-6">
                                    <a href="#">Signal fraud</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#">Security</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments">
                <h3>Comments</h3>
                <div class="row comment new" *ngIf="!loggedIn">
                    <p>You must be logged in to post comments</p>
                </div>
                <div class="row comment new" *ngIf="loggedIn">
                    <form [formGroup]="commentForm" (ngSubmit)="addComment()">
                        <div class="col-xs-1">
                            <img class="img-fluid avatar" src="http://placehold.it/100x100"/>
                        </div>
                        <div class="col-xs-11">
                            <textarea name="" placeholder="Write a comment..." formControlName="commentContent"></textarea>
                        </div>
                        <button class="btn btn-primary submit" [disabled]="!commentForm.valid" type="submit" style="float:right;">
                            Post
                        </button>
                    </form>
                </div>
                <div class="row comment" *ngIf="comments.length === 0">
                    <p>No comments</p>
                </div>
                <div class="row comment"
                    *ngFor="let comment of comments">
                    <div class="col-xs-1">
                        <img class="img-fluid avatar" src="{{ comment.user_profile_picture_url }}"/>
                    </div>
                    <div class="col-xs-11">
                        <p class="writer-infos"><a href="#">{{ comment.user_fullname }}</a> {{ comment.date }}</p>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
                <div class="row comment">
                    <div class="col-xs-1">
                        <img class="img-fluid avatar" src="http://placehold.it/100x100"/>
                    </div>
                    <div class="col-xs-11">
                        <p class="writer-infos"><a href="#">Name</a> november 14</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi atque culpa dignissimos dolor explicabo magni maxime ratione tenetur veritatis. Ab aliquam blanditiis culpa dicta est porro quisquam similique tenetur!</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xs-3 options">
                <button (click)="swap()" class="btn btn-primary btn-block btn-lg open-send-proposition-modal" [disabled]="!loggedIn">
                    <i class="fa fa-refresh"></i> <span class="hidden-sm-down">Swap</span>
                </button>
                <div *ngIf="loggedIn" class="btn-group btn-group-justified more">
                    <a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-comment"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-heart"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-share"></i></a>
                </div>
                <div *ngIf="!loggedIn" class="title">
                    <p>Please log in to access features</p>
                </div>
                <div class="modal-panel inventory">
                    <div class="title">
                        <h6>Inventory of</h6>
                        <h5>{{ owner.first_name }} {{ owner.last_name }}</h5>
                    </div>
                    <div class="row preview">
                        <div class="col-sm-12 col-md-6" *ngFor="let ownerItem of ownerItems">
                            <p>{{ ownerItem.name }}</p>
                            <img class="img-fluid" *ngIf="ownerItem.image_url != null" src="{{ ownerItem.image_url }}"/>
                            <img class="img-fluid" *ngIf="ownerItem.image_url === null" src="http://loremflickr.com/100/100"/>
                        </div>
                    </div>
                    <div class="bottom-link">
                        <a href="#" class="btn btn-block btn-reversed">
                            <i class="fa fa-eye"></i> <span class="hidden-sm-down">See profile</span>
                        </a>
                    </div>
                </div>
                <div class="modal-panel similar">
                    <div class="title">
                        <h5>Similar</h5>
                    </div>
                    <div class="row preview">
                        <div class="col-sm-12 col-md-6" *ngFor="let similar of item.similar">
                            <img class="img-fluid" src="{{ similar.image_url }}"/>
                        </div>
                    </div>
                    <div class="bottom-link">
                        <a href="#" class="btn btn-block btn-reversed">
                            <i class="fa fa-eye"></i> <span class="hidden-sm-down">See more</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>