<div id="notification-modal" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <div class="modal-panel">
                    <div class="row">
                        <div class="col-xs-12">
                            <a *ngFor="let notification of notifications" href="#" class="row notification">
                                <div class="col-xs-2 col-lg-1">
                                    <img class="img-fluid avatar" src="http://loremflickr.com/200/200">
                                </div>
                                <div class="col-xs-10 col-lg-11">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p>{{ notification.content }}</p>
                                        </div>
                                        <div class="col-xs-12 date">
                                            <i class="fa fa-refresh"></i> {{ notification.date | date:'medium'  }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>