<search></search>

<div id="content-main" class="container">
    <inventory
            #inventory
            [loggedIn]="loggedIn">
    </inventory>

    <div class="row grid" #classGrid style="margin-bottom: 60px">
        <profile
                #profile
                (profilePictureEvent)="createAccount.addProfilePicture()"
                (seeProfileEvent)="profileModal.showProfile($event)">
        </profile>

        <items></items>
    </div>
</div>

<notification-modal
        [loggedIn]="loggedIn"
        (notificationEvent)="profile.updateNotifications($event)">
</notification-modal>

<search-modal></search-modal>

<register-user-modal></register-user-modal>

<create-account-modal
        #createAccount
        (loginEvent)="profile.login($event)"
        (updateAccountEvent)="profile.getAccount()">
</create-account-modal>

<update-profile-modal
        (updateAccountEvent)="profile.getAccount()">
</update-profile-modal>

<edit-item-modal
        (editItemEvent)="inventory.editItemEvent($event)">
</edit-item-modal>

<accept-proposition-modal
        (seeProfileEvent)="profileModal.showProfile($event)"
        (removeOnePendingOfferEvent)="profile.removeOnePendingOffer($event)"
        (showItemFromAcceptOfferEvent)="itemModal.showItem($event)">
</accept-proposition-modal>

<items-modal
        #itemModal
        (openProfileModalEvent)="profileModal.showProfile($event)"
        (openProfileModalFromUsernameEvent)="profileModal.showProfileFromUsername($event)">
</items-modal>

<send-proposition-modal></send-proposition-modal>

<profile-modal
        #profileModal>
</profile-modal>

<add-item-modal
        #addItemModal
        (newItemEvent)="inventory.addItemEvent($event)">
</add-item-modal>

<infos-modal></infos-modal>
<messages-modal></messages-modal>
