<div id="edit-item-modal" class="modal fade">
    <div class="container" role="document">
        <div class="row content">
            <div class="col-xs-12">
                <form class="modal-panel" [formGroup]="editItemForm" (ngSubmit)="editItem()">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Edit an item from your inventory</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Images</h3>
                            <span class="img-infos">At least one image must be provided</span>
                            <input type="file" class="form-control" multiple (change)="fileChange(input)" #input />
                            <div class="row">
                                <p class="text-sm-center" *ngIf="file_srcs.length > 0">Preview</p>
                                <div *ngFor="let file_src of file_srcs; let i = index" class="col-img-frame" [@flyInOut]>  
                                    
                                    <div class="col-md-11">
                                        <img class="img-fluid" [attr.src]='file_src' alt=""/>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="btn btn-sm btn-block submit" (click)="removeImage(i)"><i class="fa fa-times remove-element"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                            <p class="btn-sm btn-block btn-secondary-color center">
                                <i class="fa fa-info"></i> Add multiple images at one time
                            </p>
                            <hr>

                            <h3>Accepted delivery</h3>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Methods</label>
                                <div class="col-sm-8">
                                    <div *ngFor="let dm of deliveryMethods">
                                        <input [checked]="dm.desired"type="checkbox" class="form-check-input" value="{{ dm.id }}" (change)="updateCheckbox($event.target.getAttribute('value'), $event.target.checked)">
                                        {{ dm.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-2">
                            <h3>Informations</h3>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Min price</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                      <input type="text" class="form-control" formControlName="min_price">
                                      <span class="input-group-addon">$</span>
                                    </div>
                                </div>
                                <label class="col-sm-2 col-form-label">Max price</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                      <input type="text" class="form-control" formControlName="max_price">
                                      <span class="input-group-addon">$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                    <select class="form-control" formControlName="category">
                                        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="10" formControlName="description"></textarea>
                                </div>
                            </div>
                            <hr>
                            <h3>Key informations</h3>
                            <span class="img-infos">For example "color": "green" or "condition": "new"</span>
                            <div class="form-group row" *ngFor="let keyInfo of keyInfos; let i = index" [@flyInOut]>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Key" [value]="keyInfo.key" (input)="keyInfo.key = $event.target.value">
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="Value" [value]="keyInfo.info" (input)="keyInfo.info = $event.target.value">
                                </div>
                                <div class="col-sm-1">
                                    <a class="btn btn-sm btn-block" (click)="removeKeyInfo(i)"><i class="fa fa-times remove-element"></i></a>
                                </div>
                            </div>
                            <a href="#" class="btn btn-sm btn-block btn-secondary-color submit" (click)="addKeyInfo()">
                                <i class="fa fa-plus"></i> Add key information
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button href="#" class="btn btn-lg btn-block btn-primary submit" type="submit" [disabled]="!editItemForm.valid">
                                Edit item
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a href="#" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>